<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <nav style="display: flex; justify-content: space-between; align-items: center; padding: 15px 25px; background-color: #0d6efd; color: white; font-family: sans-serif;">
  <!-- Left button -->
  <div>
    <a href="http://localhost:8080" style="text-decoration: none; background: white; color: #0d6efd; padding: 8px 16px; border-radius: 4px; font-weight: bold;">Dashboard</a>
  </div>

  <!-- Right button -->
  <div>
    <a href="http://localhost:8080/list" style="text-decoration: none; background: white; color: #0d6efd; padding: 8px 16px; border-radius: 4px; font-weight: bold;">Inventory</a>
  </div>
</nav>
    <div class="main">
        <h1>EDIT PRODUCTS</h1>
        <form action="/edit/<%= product.id %>?_method=PATCH" method="post">
            <label for="name">NAME OF THE PRODUCT</label>
            <input type="text" name="name" id="name" placeholder="name" value="<%= product.name %>">
            <label for="category">CATEGORY OF THE PRODUCT</label>
            <input type="text" value="<%= product.category %>" readonly>
            <label for="price">Selling Price</label>
            <input type="number" name="price" id="price" placeholder="Price" value="<%= product.price %>">
            <label>Cost Price </label>
            <input type="number" name="cost_price" step="0.01" value="<%= product.cost_price %>" required />

            <label for="quantity">QUANTITY OF THE PRODUCT</label>
            <input type="number" name="quantity" id="quantity" placeholder="Quantity" value="<%= product.quantity %>">
            <input type="submit" value="EDIT">
        </form>

        
    </div>
    <%- include('partials/footer') %>

</body>
</html>