<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/list.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>
<body>
    <div class="main">
        <h1>MALIK MOBILE CARE</h1>
        <h2>IVENTORY</h2>
        <div class="list">
            <div class="search">
                <form action="/list" method="get">
                <input type="text" placeholder="Search" name="q" value="<%= name %>">
                <button type="submit"> <i class="fa-brands fa-searchengin"></i></button>
                
            </form>
            <button>ADD NEW PRODUCT</button>

            </div>
            
            <table>
                <% if (products.length===0){ %>
                    <tr>
                        <td colspan="5" style="text-align:center; color: red;">No items found</td>
                    </tr>

               <% } else {%> 
               
                <tr>
                    <th>NAME</th>
                    <th>CATEGORY</th>
                    <th>QTY</th>
                    <th>PRICE</th>
                    <th>EDIT</th>
                    
                    
                </tr>
                <% for (product of products) {%>
                    <tr>
                        <td><%= product.name %></td>
                        <td><%= product.category %></td>
                        <td><%=  product.quantity%></td>
                        <td><%= product.price %></td>
                        <td><button class="btn"><i class="fa-solid fa-pen-to-square"></i></button> <button class="btn"><i class="fa-solid fa-trash"></i></button></td>
                        
                    </tr>

                    <% } %>
       


               <% } %>
                     </table>
            
        </div>
    </div>
</body>
</html>